*.iml
.gradle
/.gradle-user-home
/app/build
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.kotlin
.vscode
*.log
*.tmp
out_build.txt
build_output.txt
window_dump.xml
*.keystore
*.jks
*.p12
keystore.properties
local.properties
google-services.json
app/google-services.json

