<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:name=".VaultXApplication"
        android:allowBackup="false"
        android:icon="@mipmap/vaultx"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/vaultx_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VaultX">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.VaultX">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>